{% load static %}
<!doctype html>
<html class="no-js" lang="pt-br">

<head>
  <meta charset="utf-8">
  <title>JBS Ambiental | {% block title %}{% endblock %}</title>
  <meta name="description" content="Oferecemos soluções para os graves problemas causados pelos resíduos que comprometem a qualidade de vida da população.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{% static 'img/favicon-16x16.png' %}" sizes="16x16">
  <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32">
  <link rel="icon" type="image/png" href="{% static 'img/favicon-96x96.png' %}" sizes="96x96">
  <link rel="apple-touch-icon" href="{% static 'img/favicon-96x96.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/fonts-v1.css' %}">
  <link rel="stylesheet" href="{% static 'css/page-v1.css' %}">
  {% block stylesheet %}{% endblock %}
  <meta name="theme-color" content="#fafafa">
  {% block meta %}{% endblock %}
  <!-- OneTrust -->
  <script type="text/javascript" src="https://cdn.cookielaw.org/consent/02e6f386-807d-44b2-a867-2ea1530664eb/OtAutoBlock.js">
  </script>
  <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" type="text/javascript"
  charset="UTF-8" data-domain-script="02e6f386-807d-44b2-a867-2ea1530664eb" ></script>
  <script type="text/javascript">
  function OptanonWrapper() { }
  </script>
  <!-- End OneTrust -->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ config.GTM_CODE }}');</script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ config.GTM_CODE }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- header -->
  <div class="header-area">
    <header class="navbar container" id="navbar" role="banner">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar-collapse" class="navbar-collapse collapse">
        <div class="region region-navigation-collapsible">
          <div class="logo-box">
            <img src="{% static 'img/logo.png'%}" alt="JBS Ambiental" />
          </div>
          <nav role="navigation" id="block-main-menu">
            <ul class="menu nav navbar-nav">
              <li class="expanded dropdown">
                <a href="/">Home</a>
              </li>
              <li class="expanded dropdown">
                <a href="/quem-somos">Quem somos</a>
              </li>
              <li class="expanded dropdown">
                <a href="/gestao-de-residuos">Gest&atilde;o de Res&iacute;duos</a>
              </li>
              <li class="expanded dropdown">
                <a href="/produtos">Produtos</a>
              </li>
              <li class="expanded dropdown">
                <a href="/news">News</a>
              </li>
              <li class="expanded dropdown">
                <a href="/contato">Contato</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </div>

  <div class="body-area">

    {% block content %}{% endblock %}

    <!-- footer -->
    <div class="footer-section">
      <div class="container">
        <div class="footer-col-logo col-md-4 col-sm-12 visible-gt-991">
          <div class="footer-logo">
            <img src="{% static 'img/jbs.png' %}" width="120px" height="50px" alt="">
          </div>
        </div>
        <div class="footer-col-menu col-md-4 col-sm-12">
          <a href="/quem-somos" class="footer-menu">Nosso Neg&oacute;cio</a><br />
          <a href="/gestao-de-residuos" class="footer-menu">Gest&atilde;o de res&iacute;duos</a><br />
          <a href="/produtos" class="footer-menu">Produtos</a><br />
          <a href="/news" class="footer-menu">News</a><br />
          <a href="/contato" class="footer-menu">Contato</a><br />
          <a href="/politica-de-privacidade" target="_blank" rel="noopener" class="footer-menu">Pol&iacute;tica de Privacidade</a><br />
          <a class="ot-sdk-show-settings footer-menu" style="cursor: pointer;">Defini&ccedil;&otilde;es de Cookies</a><br />
        </div>
        <div class="footer-col-social col-md-4 col-sm-12">
          Siga-nos <br /> <br />
          <img alt="Linkedin" src="{% static 'img/linkedin.png' %}" width="20px" height="20px">
        </div>
        <div class="copyright-separator col-md-12 col-sm-12">
        </div>
        <div class="copyright col-md-12 col-sm-12">
          <p>
            &copy; JBS 2020 - Todos os direitos reservados.
            <br class="visible-lt-767"/> <br class="visible-lt-767"/>
            <a href="http://www.ciclocomunicacao.com.br/" target="_blank" rel="noopener"><img src="{% static 'img/ciclo.png' %}" width="40px" alt="Visitar site da Agência Ciclo"></a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  <script src="{% static 'js/jquery.zoom.min.js' %}"></script>
  <script>
    $('.navbar-nav>li>a').on('click', function(){
      $('.navbar-collapse').collapse('hide');
    });
  </script>
  <script>
		$(document).ready(function(){
			$('.zoomable').zoom({magnify: 1.5});
		});
  </script>  
  {% block script %}{% endblock %}
</body>

</html>
