{% extends "page.html" %}
{% load static %}

{% block title %}Quem somos{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/quem-somos-v2.css' %}">
{% endblock %}

{% block content %}

<div class="banner-section">
  <div class="banner-content">
    <div class="container">
      <div class="banner-titulo">
        <strong>Garantimos a</strong> <br class="visible-gt-767" />
        <strong>destina&ccedil;&atilde;o correta </strong> <br class="visible-gt-767" />
        <strong>aos res&iacute;duos </strong> recicl&aacute;veis, <br class="visible-gt-767" />
        n&atilde;o recicl&aacute;veis <br class="visible-gt-767" />
        e perigosos
      </div>
    </div>
  </div>
</div>

<div class="negocios-section">
  <div class="container">
    <div class="negocio-titulo-col col-md-4 col-sm-12">
      <div class="negocio-titulo">
        Nosso <br class="visible-gt-991" />
        <strong>Neg&oacute;cio</strong>
      </div>
      <div class="negocio-texto">
        A <strong>Ambiental</strong>, uma unidade de neg&oacute;cios do <br class="visible-gt-1199" />
        grupo JBS, conta com dez unidades de reciclagem, <br class="visible-gt-1199" />
        nos estados de Goi&aacute;s, Minas Gerais, Mato Grosso <br class="visible-gt-1199" />
        do Sul e S&atilde;o Paulo. Somente em 2019, foram <br class="visible-gt-1199" />
        inauguradas duas centrais de res&iacute;duos, incluindo as <br class="visible-gt-1199" />
        plantas de Senador Canedo (GO) e Nova Andradina <br class="visible-gt-1199" />
        (MS). Tem como miss&atilde;o operar e desenvolver <br class="visible-gt-1199" />
        neg&oacute;cios, com produtos e servi&ccedil;os que geram <br class="visible-gt-1199" />
        vantagem competitiva, seja por oportunidade, <br class="visible-gt-1199" />
        necessidade ou estrat&eacute;gia. A unidade possui em <br class="visible-gt-1199" />
        seu DNA o conceito <strong>Circular</strong> e <strong>Sustent&aacute;vel</strong> em seus <br class="visible-gt-1199" />
        neg&oacute;cios, operando em uma cadeia organizada <br class="visible-gt-1199" />
        onde seus neg&oacute;cios est&atilde;o conectados, seja pelo <br class="visible-gt-1199" />
        reaproveitamento dos subprodutos, ou pela <br class="visible-gt-1199" />
        vantagem competitiva operacional.
      </div>
    </div>
    <div class="negocio-destaque-col">
      <div class="negocio-destaque visible-gt-991">&nbsp;</div>
    </div>
    <div class="negocio-imagem-col negocio-imagem col-md-6 col-sm-12 zoomable">
      <img src="{% static 'img/quem-somos/nosso-negocio.png' %}" width="100%" alt="Sustentável">
    </div>
  </div>
</div>

<div class="grupo-section">
  <div class="container">
    <div class="grupo-texto-col col-md-5 col-sm-12">
      <div class="grupo-texto">
        O <strong>Grupo JBS</strong> tamb&eacute;m atua por meio <br class="visible-gt-991" />
        da divis&atilde;o de <strong>Novos Neg&oacute;cios</strong> nas ind&uacute;strias <br class="visible-gt-991" />
        de Higiene e Limpeza, Biodiesel, Envolt&oacute;rios, <br class="visible-gt-991" />
        Col&aacute;genos e Ingredientes, Soro Bovino, Plasma <br class="visible-gt-991" />
        Bovino, Embalagens Met&aacute;licas, Trading, <br class="visible-gt-991" />
        Comercializa&ccedil;&atilde;o de Caminh&otilde;es, Transportes, <br class="visible-gt-991" />
        Fertilizantes e Gest&atilde;o de Res&iacute;duos.
      </div>
      <div class="grupo-destaque">
        <img src="{% static 'img/quem-somos/grupo-destaque.png' %}" width="70%" alt="Destaque">
      </div>
      <div class="grupo-link">
        <a href="https://www.jbs.com.br/" target="_blank" rel="noopener">
          www.<strong>jbs</strong>.com.br
        </a>
      </div>
    </div>
    <div class="grupo-imagem-col col-md-7 col-sm-12">
      <img src="{% static 'img/quem-somos/icones.png' %}" width="80%" alt="Grupo JBS">
    </div>
  </div>
</div>


<div class="institucional-section">
  <div class="container">
    <div class="institucional-titulo col-md-12 col-sm-12">
      Nossa <strong>hist&oacute;ria</strong>
    </div>
    <div class="institucional-texto col-md-12 col-sm-12">
      Com um alto volume de res&iacute;duos gerados nos frigor&iacute;ficos e ind&uacute;strias do Grupo JBS, havia dificuldades para o descarte consciente
      de embalagens (principalmente com sangue animal), al&eacute;m do risco de descaracteriza&ccedil;&atilde;o da marca
      e a amplitude log&iacute;stica do territ&oacute;rio nacional.
      Assim foi criada a Ambiental. Sua forte atua&ccedil;&atilde;o tornou-se um case de sucesso reconhecido pelo
      <strong>Instituto Ethos em 2013 e pelo Benchmarking Sustentabilidade</strong>.
      A Ambiental &eacute; capaz de garantir a certifica&ccedil;&atilde;o do descarte, tanto nas unidades JBS quanto em outros clientes.
    </div>
    <div class="institucional-titulo col-md-12 col-sm-12">
      Nossa <strong>miss&atilde;o</strong>
    </div>
    <div class="institucional-texto col-md-12 col-sm-12">
      Compartilhamos a miss&atilde;o da JBS SA "Sermos os melhores naquilo que nos propusermos a fazer, com foco absoluto
      em nossas atividades, garantindo os melhores produtos e servi&ccedil;os aos clientes, solidez aos fornecedores,
      rentabilidade aos acionistas e a oportunidade de um futuro melhor a todos os nossos colaboradores" desta forma,
      podemos oferecer solu&ccedil;&otilde;es inovadoras e inteligentes para gerenciamento, tratamento e destina&ccedil;&atilde;o dos res&iacute;duos
      recicl&aacute;veis, n&atilde;o recicl&aacute;veis e perigosos com rastreabilidade, garantindo a certifica&ccedil;&atilde;o dos descartes,
      afim de contribuir com compromisso de sustentabilidade dos clientes.
    </div>
    <div class="institucional-titulo col-md-12 col-sm-12">
      Nossa <strong>vis&atilde;o</strong>
    </div>
    <div class="institucional-texto col-md-12 col-sm-12">
      Com produtos e servi&ccedil;os de qualidade, temos como objetivo sermos uma empresa reconhecida por transformar
      res&iacute;duos em alavanca de valor para colaboradores, empresas, sociedade e meio ambiente, de modo a promover
      o desenvolvimento sustent&aacute;vel e construir um mundo melhor.
      Essa vis&atilde;o est&aacute; alinhada com as cren&ccedil;as do Grupo JBS:
      <br />
      <ul class="institucional-visao-ul">
        <li><span><strong>Foco</strong> no detalhe</span></li>
        <li><span><strong>M&atilde;o na massa</strong></span></li>
        <li><span>As coisas s&oacute; s&atilde;o <strong>conquistadas</strong> com muito trabalho</span></li>
        <li><span><strong>Pessoa certa</strong> no lugar certo</span></li>
        <li><span><strong>Paix&atilde;o</strong> pelo que faz</span></li>
        <li><span>Atitude &eacute; <strong>mais importante</strong> que conhecimento</span></li>
        <li><span>Líder &eacute; quem <strong>deve conquistar</strong> seus liderados</span></li>
        <li><span><strong>Liderar</strong> pelo exemplo</span></li>
        <li><span>Foco no <strong>resultado</strong></span></li>
        <li><span>Acreditar faz a <strong>diferen&ccedil;a</strong></span></li>
        <li><span>Produto de <strong>qualidade</strong></span></li>
      </ul>
    </div>
    <div class="institucional-titulo col-md-12 col-sm-12">
      Nossos <strong>valores</strong>
    </div>
    <div class="institucional-texto col-md-12 col-sm-12">
      Seguimos os valores do Grupo JBS, trabalhando com simplicidade, determina&ccedil;&atilde;o, disponibilidade, disciplina,
      franqueza,  humildade, e atitude de dono, para transformar res&iacute;duos em insumos reutiliz&aacute;veis, investindo
      constantemente em pesquisa e tecnologia e desenvolvendo t&eacute;cnicas e solu&ccedil;&otilde;es para o maior aproveitamento
      dos res&iacute;duos gerados.
    </div>
    <div class="institucional-titulo col-md-12 col-sm-12">
      <strong>Política de Qualidade</strong>
    </div>
    <div class="institucional-texto col-md-12 col-sm-12">
      A JBS S.A. tem como política, a melhoria contínua da qualidade
      dos seus processos e produtos, o perfeito atendimento às
      necessidades de seus clientes e acionistas, o investimento na
      capacitação de seus colaboradores, a garantia da segurança
      dos seus consumidores, respeitando os requisitos legais,
      comunidade e meio ambiente, com foco no desenvolvimento
      sustentável.
    </div>
    <div class="institucional-texto col-md-12 col-sm-12">
      <br />
      <strong>Wesley Batista Filho<br />
      Presidente da JBS América do Sul</strong>
    </div>
  </div>
</div>

<div class="core-section">
  <div class="container">
    <div class="core-texto-col col-md-5 col-sm-12">
      <div class="core-texto">
        <strong>Core Business JBS</strong> <br />
        Novos Neg&oacute;cios
      </div>
    </div>
    <div class="core-imagem-col col-md-12 col-sm-12">
      <img src="{% static 'img/quem-somos/core-business.png' %}" width="100%" alt="Core Business JBS">
    </div>
  </div>
</div>

<div class="certificacoes-section">
  <div class="container">
    <div class="certificacoes-titulo col-md-12 col-sm-12">
      <div class="certificacoes-titulo-selo">
        <img src="{% static 'img/quem-somos/certificacoes.png' %}" class="certificacoes-titulo-selo-img" alt="Certificações">
        <div class="certificacoes-titulo-destaque">
        </div>
        </div>
      <div class="certificacoes-titulo-texto">
        Selos e <strong>Certifica&ccedil;&otilde;es</strong>
      </div>
    </div>
    <div class="certificacoes-imagem col-md-12 col-sm-12">
      <img src="{% static 'img/quem-somos/certificacoes-selos2.png' %}" width="75%" alt="Certificações JBS">
    </div>

  </div>
</div>

<div class="legislacao-section">
  <div class="container">
    <div class="legislacao-titulo col-md-12 col-sm-12">
      <div class="legislacao-titulo-selo">
        <img src="{% static 'img/quem-somos/legislacao.png' %}" class="legislacao-titulo-selo-img" alt="Certificações">
        <div class="legislacao-titulo-destaque">
        </div>
        </div>
      <div class="legislacao-titulo-texto">
        Atendendo a <strong>Legisla&ccedil;&atilde;o</strong>
      </div>
    </div>
    <div class="legislacao-bullets-col col-md-12 col-sm-12">
      <br />
      <ul class="legislacao-ul">
        <li><strong>Lei Federal n&#176; 12.305/2010 PNRS</strong> - Pol&iacute;tica Nacional de Res&iacute;duos S&oacute;lidos</li>
        <li><strong>Lei Estadual SP n&#176; 12.300/2006</strong> - Pol&iacute;tica Estadual de Res&iacute;duos S&oacute;lidos</li>
      </ul>
    </div>
    <div class="legislacao-pontos-col col-md-12 col-sm-12">
      <br />
      <ul>
        <li>Plano de <strong>Gerenciamento de Res&iacute;duos Industriais</strong>: garantir destino a todos os res&iacute;duos;</li>
        <li><strong>Redu&ccedil;&atildeo, Reciclagem</strong> e, na impossibilidade, envio para aterro;</li>
        <li><strong>Log&iacute;stica Reversa</strong>: recuperação das embalagens do consumidor - 20% até 2015;</li>
        <li>Cooperativas como <strong>elo da cadeia</strong>;</li>
        <li><strong>Lix&otilde;es</strong> proibidos a partir de 2014.</li>
      </ul>
    </div>
    <div class="legislacao-aviso-col col-md-12 col-sm-12">
      <div class="legislacao-aviso">
        &#9888; Descumprimento da Legisla&ccedil;&atilde;o de Res&iacute;duos &eacute; <strong>Crime Ambiental</strong>, Reclus&atilde;o e Inafian&ccedil;&aacute;vel.
      </div>
    </div>
  </div>
</div>

<div class="negocios-section">
  <div class="container">
    <div class="negocio-titulo-col col-md-4 col-sm-12">
      <div class="negocio-titulo">
       Pesquisa <br class="visible-gt-991" />
       e <strong>inova&ccedil;&atilde;o</strong>
      </div>
      <div class="negocio-texto">
        Investimos em <strong>Pesquisa</strong> <br class="visible-gt-1199" />
        <strong>e Inova&ccedil;&atilde;o</strong>  para agregarmos <br class="visible-gt-1199" />
        valor aos res&iacute;duos por meio <br class="visible-gt-1199" />
        do desenvolvimento de produtos <br class="visible-gt-1199" />
        e processos com conceito de  <br class="visible-gt-1199" />
        <strong>Economia Circular</strong>, transformando <br class="visible-gt-1199" />
        os res&iacute;duos em mat&eacute;ria prima <br class="visible-gt-1199" />
        para o processo seguinte e <br class="visible-gt-1199" />
        agregando valor a cadeia.
      </div>
    </div>
    <div class="negocio-destaque-col">
      <div class="negocio-destaque visible-gt-991">&nbsp;</div>
    </div>
    <div class="negocio-imagem-col negocio-imagem col-md-7 col-sm-12 zoomable">
      <img src="{% static 'img/quem-somos/pesquisa.png' %}" width="100%" alt="Gerenciado">
    </div>
  </div>
</div>

<div class="mensagem-section">
  <div class="container">
    <div class="mensagem-left-quote-col col-md-12 col-sm-12">
      &#8220;
    </div>
    <div class="mensagem-texto-col col-md-12 col-sm-12">
      <div class="mensagem-texto">
        Visando a <strong>redu&ccedil;&atilde;o</strong> da utiliza&ccedil;&atilde;o de &aacute;gua pot&aacute;vel no
        processo de lavagem de materiais, temos implantado o <strong>reuso de &aacute;gua</strong>
        para aproveitar o efluente tratado das lavadoras.
        Com esse sistema, s&oacute; no ano de 2019, foi poss&iacute;vel <strong>economizar</strong> quase <strong>20.000</strong> m&sup3;
        de &aacute;gua pot&aacute;vel que seria captada do po&ccedil;o <strong>Semi Artesiano</strong> e poderia exceder
        o limite outorgado pelo &oacute;rg&atilde;o competente. A reutiliza&ccedil;&atilde;o de &aacute;gua proporcionou
        uma economia na capta&ccedil;&atilde;o, preservando o aqu&iacute;fero que abastece toda a regi&atilde;o,
        <strong>melhorando</strong> o processo industrial e trazendo <strong>sustentabilidade</strong> para o neg&oacute;cio.
      </div>
    </div>
    <div class="mensagem-right-quote-col col-md-12 col-sm-12">
      &#8221;
    </div>
  </div>
</div>

{% endblock %}
