{% extends "page.html" %}
{% load static %}

{% block title %}Servi&ccedil;os{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/servicos-v2.css' %}">
{% endblock %}

{% block content %}

<div class="banner-section">
  <div class="banner-content">
    <div class="container">
      <div class="banner-titulo">
        Solu&ccedil;&otilde;es Completas<br class="visible-gt-767" />
        Para <strong>Gerenciar os Res&iacute;duos</strong> <br class="visible-gt-767" />
        <strong>Em sua empresa </strong>
      </div>
    </div>
  </div>
</div>

<div class="gestao-section">
  <div class="container">
    <div class="gestao-titulo-col col-md-4 col-sm-12">
      <div class="gestao-titulo">
       Gest&atilde;o <br class="visible-gt-991" />
       de <strong>res&iacute;duos</strong>
      </div>
      <div class="gestao-texto">
        Atrav&eacute;s da implementa&ccedil;&atilde;o <br class="visible-gt-1199" />
        de processos, conscientiza&ccedil;&atilde;o <br class="visible-gt-1199" />
        e solu&ccedil;&otilde;es inteligentes <br class="visible-gt-1199" />
        para a reutiliza&ccedil;&atilde;o dos res&iacute;duos <br class="visible-gt-1199" />
        dentro da sua empresa, <br class="visible-gt-1199" />
        gerenciamento e descarte <br class="visible-gt-1199" />
        com foco no desenvolvimento <br class="visible-gt-1199" />
        e crescimento garantindo o <br class="visible-gt-1199" />
        menor impacto ambiental. <br class="visible-gt-1199" />
      </div>
    </div>
    <div class="gestao-destaque-col">
      <div class="gestao-destaque visible-gt-991">&nbsp;</div>
    </div>
    <div class="gestao-imagem-col gestao-imagem col-md-7 col-sm-12 zoomable">
      <img src="{% static 'img/servicos/gestao2.png' %}" width="100%" alt="Gerenciado">
    </div>
  </div>
</div>

<div class="selos-section">
  <div class="container">
    <div class="selos-titulo col-md-6 col-sm-12">
      <div class="selos-titulo-selo">
        <img src="{% static 'img/servicos/selo-processo.png' %}" class="selos-titulo-selo-img" alt="Processo Otimizado">
        <div class="selos-titulo-destaque">
        </div>
      </div>
      <div class="selos-titulo-texto-col">
        <div class="selos-titulo-titulo">
          <strong>Processo</strong> <br class="visible-gt-991" />
          <strong>Otimizado</strong>
        </div>
        <div class="selos-titulo-texto">
          Garantimos a <strong>destina&ccedil;&atilde;o correta</strong> aos <br class="visible-gt-991" />
          res&iacute;duos recicl&aacute;veis e n&atilde;o recicl&aacute;veis, <br class="visible-gt-991" />
          atrav&eacute;s da <strong>implementa&ccedil;&atilde;o de processos</strong> <br class="visible-gt-991" />
          otimizados que viabilizam um ambiente de <br class="visible-gt-991" />
          <strong>trabalho adequado</strong> &agrave;s quest&otilde;es ambientais <br class="visible-gt-991" />
          evitando passivos ambientais.
        </div>
      </div>
    </div>
    <div class="selos-titulo col-md-6 col-sm-12">
      <div class="selos-titulo-selo">
        <img src="{% static 'img/servicos/selo-solucoes.png' %}" class="selos-titulo-selo-img" alt="Soluções">
        <div class="selos-titulo-destaque">
        </div>
      </div>
      <div class="selos-titulo-texto-col">
        <div class="selos-titulo-titulo">
          &nbsp; <br class="visible-gt-991" />
          <strong>Solu&ccedil;&otilde;es</strong>
        </div>
        <div class="selos-titulo-texto">
          Gerenciamento completo ou parcial dos <br class="visible-gt-991" />
          res&iacute;duos, de acordo com a <strong>necessidade</strong> <br class="visible-gt-991" />
          <strong>do cliente</strong>. Produtos com conceito <br class="visible-gt-991" />
          de <strong>Economia Circular</strong>.
        </div>
      </div>
    </div>
    <div class="selos-titulo selos-titulo-inicio col-md-6 col-sm-12">
      <div class="selos-titulo-selo">
        <img src="{% static 'img/servicos/selo-educacao.png' %}" class="selos-titulo-selo-img" alt="Educação Ambiental">
        <div class="selos-titulo-destaque">
        </div>
      </div>
      <div class="selos-titulo-texto-col">
        <div class="selos-titulo-titulo">
          <strong>Educa&ccedil;&atilde;o</strong> <br class="visible-gt-991" />
          <strong>Ambiental</strong>
        </div>
        <div class="selos-titulo-texto">
          Com uma an&aacute;lise profunda de todo o <br class="visible-gt-991" />
          processo de gera&ccedil;&atilde;o dos res&iacute;duos da <br class="visible-gt-991" />
          empresa, <strong>contribu&iacute;mos</strong> para a redu&ccedil;&atilde;o dos <br class="visible-gt-991" />
          desperd&iacute;cios e impactos &agrave; natureza, atrav&eacute;s da <br class="visible-gt-991" />
          <strong>reeduca&ccedil;&atilde;o</strong> dos funcion&aacute;rios, <strong>implementa&ccedil;&atilde;o</strong> <br class="visible-gt-991" />
          de sistemas de reuso inteligente, <br class="visible-gt-991" />
          servi&ccedil;os de apoio e <strong>auditoria</strong> com propostas <br class="visible-gt-991" />
          corretivas de <strong>melhoria</strong> no descarte di&aacute;rio.
        </div>
      </div>
    </div>
    <div class="selos-titulo col-md-6 col-sm-12 selos-titulo-triple">
      <div class="selos-titulo-selo">
        <img src="{% static 'img/servicos/selo-marca.png' %}" class="selos-titulo-selo-img" alt="Educação Ambiental">
        <div class="selos-titulo-destaque">
        </div>
      </div>
      <div class="selos-titulo-texto-col">
        <div class="selos-titulo-titulo selos-titulo-titulo-triple">
          <strong>Gerenciamento de </strong> <br class="visible-gt-991" />
          <strong>passivos associados</strong> <br class="visible-gt-991" />
          <strong>&agrave; sua marca</strong>
        </div>
        <div class="selos-titulo-texto">
          <strong>Garantimos a descaracteriza&ccedil;&atilde;o total</strong> dos <br class="visible-gt-991" />
          res&iacute;duos (logomarcas, SIF, Licen&ccedil;as  <br class="visible-gt-991" />
          Ambientais, Certificados, Marcas, etc.), pois o <br class="visible-gt-991" />
          descarte inadequado pode tornar-se um <br class="visible-gt-991" />
          passivo &agrave; sua empresa - multa <br class="visible-gt-991" />
          e reclus&atilde;o (crime inafian&ccedil;&aacute;vel).
        </div>
      </div>
    </div>
    <div class="selos-titulo selos-titulo-inicio col-md-6 col-sm-12">
      <div class="selos-titulo-selo">
        <img src="{% static 'img/servicos/selo-monitoramento.png' %}" class="selos-titulo-selo-img" alt="Educação Ambiental">
        <div class="selos-titulo-destaque">
        </div>
      </div>
      <div class="selos-titulo-texto-col">
        <div class="selos-titulo-titulo">
          &nbsp; <br class="visible-gt-991" />
          <strong>Monitoramento</strong>
        </div>
        <div class="selos-titulo-texto">
          Atrav&eacute;s de registros e relat&oacute;rios, <br class="visible-gt-991" />
          &eacute; poss&iacute;vel <strong>acompanhar todo o processo</strong> <br class="visible-gt-991" />
          desde a coleta at&eacute; o seu destino final. <br class="visible-gt-991" />
          Garantimos a <strong>seguran&ccedil;a</strong>, da retirada <br class="visible-gt-991" />
          at&eacute; a destina&ccedil;&atilde;o final do res&iacute;duo.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ciclo-section">
  <div class="container">
    <div class="ciclo-imagem-col col-md-12 col-sm-12">
      <img src="{% static 'img/servicos/ciclo.png' %}" width="80%" alt="Ciclo Fechado">
    </div>
  </div>
</div>

<div class="ciclo-down-section">
  <div class="container">
    <div class="ciclo-down-imagem-col col-md-12 col-sm-12">
      <img src="{% static 'img/servicos/ciclo-down.png' %}" width="80%" alt="Seguir">
    </div>
  </div>
</div>

<div class="plastico-section">
  <div class="container">
    <div class="plastico-imagem-col plastico-imagem col-md-8 col-sm-12 visible-gt-991 zoomable">
      <img src="{% static 'img/servicos/plastico.png' %}" width="100%" alt="Plástico">
    </div>
    <div class="plastico-destaque-col">
      <div class="plastico-destaque visible-gt-991">&nbsp;</div>
    </div>
    <div class="plastico-titulo-col col-md-3 col-sm-12"">
      <div class="plastico-titulo">
       Ciclo fechado <br class="visible-gt-991" />
       para <strong>res&iacute;duos</strong> <br class="visible-gt-991" />
       <strong>pl&aacute;sticos</strong>
      </div>
      <div class="plastico-texto">
        Com a implementa&ccedil;&atilde;o do conceito
        ciclo fechado na gest&atilde;o desses
        res&iacute;duos, sua empresa pode obter
        vantagens ambientais e econ&ocirc;micas
        adicionais. Nesse caso, os res&iacute;duos
        gerados s&atilde;o comprados, processados
        e inseridos novamente em sua
        empresa na forma de outras
        mat&eacute;rias-primas ou produtos.
      </div>
      <div class="plastico-produtos-botao-linha">
        <div class="plastico-produtos-botao">
          <a href="/produtos">
            Veja os produtos &nbsp;
            <img src="{% static 'img/right-green.png' %}" width="9px" height="16px" alt="Link">
          </a>
        </div>
      </div>
    </div>
    <div class="plastico-imagem-col plastico-imagem col-md-8 col-sm-8 visible-lt-991">
      <img src="{% static 'img/servicos/plastico.png' %}" width="100%" alt="Plástico">
    </div>
  </div>
</div>

<div class="vantagens-section">
  <div class="container">
    <div class="vantagens-titulo col-md-12 col-sm-12">
      Colabore com a redu&ccedil;&atilde;o dos impactos ao meio ambiente e
      <strong>ganhe vantagens competitivas</strong> com a ajuda da <strong>Ambiental</strong>
    </div>
    <div class="vantagens-texto col-md-12 col-sm-12">
      <br />
      <ul class="vantagens-ul">
        <li><span><strong>Solu&ccedil;&atilde;o inteligente</strong> para os res&iacute;duos gerados pela sua empresa;</span></li>
        <li><span>Processo cont&iacute;nuo de descarte e <strong>retorno em produto final;</strong></span></li>
        <li><span><strong>Diminui&ccedil;&atilde;o nos gastos</strong> com mat&eacute;rias-primas derivadas do pl&aacute;stico;</span></li>
        <li><span><strong>Sustentabilidade</strong> - Utiliza&ccedil;&atilde;o de produtos recicl&aacute;veis;</span></li>
        <li><span>Menor explora&ccedil;&atilde;o de <strong>recursos naturais;</strong></span></li>
        <li><span><strong>Rastreabilidade</strong>, seguran&ccedil;a e conformidade legal.</span></li>
      </ul>
    </div>
  </div>
</div>

<div class="rastreabilidade-section">
  <div class="container">
    <div class="rastreabilidade-titulo-col col-md-4 col-sm-12">
      <div class="rastreabilidade-titulo">
       <strong>Rastreabilidade</strong>
      </div>
      <div class="rastreabilidade-texto">
        Emitimos o Certificado de <br class="visible-gt-1199" />
        <strong>Tratamento de Res&iacute;duos 100%</strong> <br class="visible-gt-1199" />
        alinhado com os &oacute;rg&atilde;os <br class="visible-gt-1199" />
        ambientais e comunidades <br class="visible-gt-1199" />
        locais, comprovando o <br class="visible-gt-1199" />
        compromisso de sua empresa <br class="visible-gt-1199" />
        com o meio ambiente.
      </div>
    </div>
    <div class="rastreabilidade-destaque-col">
      <div class="rastreabilidade-destaque visible-gt-991">&nbsp;</div>
    </div>
    <div class="rastreabilidade-imagem-col rastreabilidade-imagem col-md-7 col-sm-12 zoomable">
      <img src="{% static 'img/servicos/rastreabilidade.png' %}" width="100%" alt="Rastreabilidade">
    </div>
  </div>
</div>

{% endblock %}
