/* banner */
.banner-section {
  background-image: url("../img/contato/banner.png");
  background-size: 100%;
  height: 27vw;
}

.banner-titulo {
  font-size: 32px;
  font-family: 'Gotham';
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 1199px) {
  .banner-section {
    background-size: 130%;
    height: 36vw;
  }
  .banner-titulo {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .banner-section {
    background-size: 130%;
    height: 36vw;
  }
  .banner-titulo {
    font-size: 20px;
  }
}

/* privacidade */
.privacidade-section {
  padding-top: 10px;
  padding-bottom: 20px;
}

.privacidade-text {
  font-size: 14px;
  font-family: 'Gotham';
  font-weight: 100;
  color: #2d7700;
}
